{% extends 'pms/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_css %}
  .status-New { color: #ffc107; font-weight: bold; }
  .status-Processing { color: #007bff; font-weight: bold; }
  .status-Completed { color: #28a745; font-weight: bold; }
{% endblock %}

{% block content %}
  <h2>{{ page_title }}</h2>
  
  <table>
    <thead>
      <tr>
        <th>Phòng</th>
        <th>Khách hàng</th>
        <th>Nội dung Yêu cầu</th>
        <th>Thời điểm</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {% for req in requests_list %}
      <tr>
        <td>P. <strong>{{ req.room.room_number }}</strong></td>
        <td>{{ req.reservation.guest.full_name|default:"---" }}</td>
        <td>{{ req.content }}</td>
        <td>{{ req.created_at|date:"H:i d/m/Y" }}</td>
        <td class="status-{{ req.status }}">
            {{ req.get_status_display }}
        </td>
        <td class="actions">
          <form action="{% url 'complete-request' req.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-action btn-green" style="border:none; cursor:pointer;">Hoàn thành</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Không có yêu cầu mới nào.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}